.faq ul{

    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем отступы*/
    display: grid;
    padding-left: 40px;
    font-family: Arial;
    font-size: 16px;
}
.faq_element{
    width: 1000px;
    text-align: left;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    font-weight: bold;

}
.faq_element summary{
    height: 50px;
    padding-left: 20px;
    text-align: left;
    background-color: white;
    color: black;
    padding-top: 10px;
    border-radius: 5px;
}
.faq_element details{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.faq_element details p{
    text-align: left;
    margin-left: 20px;
    height: 30px;
    font-weight: lighter;
}
.faq.title{
    font-family: Arial;
    padding-top: 20px;
    padding-left: 40px;
}