.weather_forecast ul{
    margin-right: 5%;
    width: 100px;
    display: flow;
}
.weather_main {
    width: 750px;
    height: 330px;
}
.weather_card{
    text-align: center;
    width:130px;
}
.weather_card_img img {
    height: 100px;
}