body{
    background-color: #eceef2;
}

.header ul {
    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем отступы*/
    background:blue; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    display: flex;
}
.header a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:white; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color:black; /*меняем цвет ссылок*/
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
.header a:hover {
    color: red/*добавляем эффект при наведении*/
}
.header li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    list-style-type: none;
    flex-basis: auto;
    flex-grow: 1;
    background: #000;
    text-align: center;
}
section{
    display: -webkit-flex;
    display: flex;
}