.moscow ul{
    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем отступы*/
    display: inherit;
    float: left;
    height: 5%;
    padding-left: 40px;
}

.moscow img{
    border-radius: 10px;
}

.second_img img{
    margin-top: 50px;
    height: 300px;
}

.moscow.text{
    margin-right: 50px;
    float: left;
    width: 50%;
    display: block;
    font-family: Arial;
    padding-left: 40px;
}
.title{
    text-align: center;
    font-size: 150%;
}

@media (min-device-width: 1000px) and (max-device-width: 1200px) {
    .moscow.text{
        width: 380px;
    }
}
@media (min-device-width: 750px) and (max-device-width: 1000px) {
    .moscow.text{
        width: 500px;
    }
    .second_img img{
        margin-top: 50px;
        height: 200px;
    }
}
@media (min-device-width: 500px) and (max-device-width: 750px) {
    .moscow.text{
        width: 500px;
        font-size: 20px;
    }
    .second_img img{
        margin-top: 50px;
        height: 200px;
    }
}
@media (min-device-width: 250px) and (max-device-width: 500px) {
    .moscow.text{
        width: 100%;
        font-size: 40px;
    }
    .second_img img{
        width: 100%;
        margin-top: 50px;
        height: 250px;
    }
}