.moscow ul{
    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем отступы*/
    display: inherit;
    float: left;
    height: 5%;
    padding-left: 40px;
}
.moscow img{
    border-radius: 10px;
}

.second_img img{
    margin-top: 50px;
    height: 300px;
}

.moscow.text{
    margin-right: 50px;
    float: left;
    width: 50%;
    display: block;
    font-family: Arial;
    padding-left: 40px;
}
.title{
    text-align: center;
    font-size: 150%;
}