.weather_main {
    float: left;
    width: 550px;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
    margin-left: auto;
    font-family: Arial;
    float: right;
}
.weather_title {
    padding-top: 10px;
    padding-left: 5%;
    font-weight: bold;
    font-size: 30px;
}
.weather_card{
    text-align: center;
    width: 5%
}
.weather_card_state{
    height: 25px;
}
.weather ul{
    float: inside;
    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем отступы*/
    display: flex;
    padding-left: 40px;
}
.weather_img {
    float: left;
}
.weather_img img{
    padding-top: 20px;
    padding-left: 40px;
    height: 100px;
}
.weather .details_description{
    text-align: center;
    font-family: Arial;
}
.weather .description{
    font-size: 20px;
    font-weight: lighter;
    margin-right: 5%;
    float: right;
    height: 20px;
}
.weather .temperature{
    font-size: 50px;
    float: left;
    padding-top: 8%;
    padding-left: 7%;
}
.weather .temperature_details{
    display: grid;
    width: 20%;
    height: 50px;
    padding-top: 8%;
    margin-left: 12%;
}
.weather .max_temperature{
    font-size: 20px;
    float: left;
    text-align: right;
    margin-left: 5%;
}
.weather .min_temperature{
    font-size: 20px;
    float: left;
    text-align: right;
    margin-left: 5%;
}
.weather .wind{
    font-size: 20px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    padding-right: 52%;
}
.weather .coord{
    font-size: 20px;
    float: right;
    margin-right: 5%;
}

@media (min-device-width: 1450px) {
    .weather_main {
        width: 1000px;

    }
}
@media (min-device-width: 1000px) and (max-device-width: 1450px) {
    .weather_main {
        width: 700px;
    }
}
@media (min-device-width: 650px) and (max-device-width: 1000px) {
    .weather_main {
        width: 800px;
    }
    .weather .wind{
        font-size: 50px;
    }
    .weather_img img{
        height: 250px;
    }
    .weather .description{
        font-size: 30px;
    }
    .weather_title {
        font-size: 50px;
    }
    .weather .temperature{
        font-size: 80px;
    }
    .weather .max_temperature{
        font-size: 30px;
    }
    .weather .min_temperature{
        font-size: 30px;
    }
    .weather .coord{
        font-size: 50px;
    }
}
@media (min-device-width: 450px) and (max-device-width: 650px) {
    .weather {
        width: 90%;
        margin: 0 auto;
        border-radius: 2%;
    }
    .weather .wind{
        font-size: 100px;
    }
    .weather_img img{
        height: 200px;
    }
    .weather .description{
        font-size: 50px;
    }
    .weather_title {
        padding-top: 10px;
    }
    .weather .temperature{
        font-size: 100px;
    }
    .weather .max_temperature{
        font-size: 50px;
    }
    .weather .min_temperature{
        font-size: 50px;
    }
    .weather .coord{
        font-size: 40px;
    }
}
@media (min-device-width: 300px) and (max-device-width: 600px) {
    .weather {
        width: 90%;
        margin: 0 auto;
        border-radius: 2%;
    }
    .weather .wind{
        font-size: 50px;
    }
    .weather_img img{
        height: 150px;
    }
    .weather .description{
        font-size: 40px;
        display: flex;
    }
    .weather_title {
        padding-top: 30px;
        font-size: 50px;
    }
    .weather .temperature{
        font-size: 90px;
    }
    .weather .max_temperature{
        font-size: 30px;
    }
    .weather .min_temperature{
        font-size: 30px;
    }
    .weather .coord{
        font-size: 30px;
    }
}
